
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
.venv/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Misc
*.sqlite3
*.db
*.bak
*.swp

# Ignore test outputs
*.pytest_cache/

# Ignore local config
startup.txt

# Test files
test_azure-api.ipynb
tes-callback.py